<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程简介卡片</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="course-intro">
        <div class="content bx">
            <div class="image">
                <img src="../../assets/images/kc-intro.jpg" alt="">
            </div>
            <div class="intro">
                <div class="top">
                    <p class="title">Python-爬虫系列-数据解析</p>
                    <div class="detail">
                        <span class="num">273人学过</span>
                        <div class="star">
                            <span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-half"></span>
                        </div>
                        <span class="teacher-name">讲师: divad</span>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="bottom">
                    <div class="study">立即学习</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>