<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页导航栏</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="nav-bar">
        <div class="content bx">
            <div class="top">
                <div class="left">
                    <a href="" class="ykt-logo">
                        <h1>
                            网易云课堂
                        </h1>
                    </a>
                </div>
                <div class="middle">
                    <form action="">
                        <div class="search-bar">
                            <div class="category">
                                <label>
                                    <select name="category">
                                        <option value="all">全部</option>
                                        <option value="course">课程</option>
                                        <option value="school">网校</option>
                                        <option value="teacher">老师</option>
                                        <option value="article">文章</option>
                                    </select>
                                </label>
                            </div>
                            <div class="keyword">
                                <label>
                                    <input type="text" name="kw" placeholder="请输入搜索的关键字">
                                </label>
                            </div>
                            <div class="submit-btn">
                                <label>
                                    <input type="submit" class="iconfont"  value="&#xe60c;&nbsp;搜索">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                    
                <div class="right">
                    <div class="inner">
                        <div class="yhgl">
                            <span class="xzapp">下载APP</span>
                            <span class="hyzx">会员中心</span>
                            <span class="wdxx">我的学习</span>
                            <div class="touxiang">
                                <img src="../../assets/images/touxiang.jpg" alt="">
                                <div class="zky">
                                    <ul>
                                        <li>正使用手机号登录</li>
                                        <li>消息提醒</li>
                                        <li>我的购物车</li>
                                        <li>我的优惠券</li>
                                        <li>我的订单</li>
                                        <li>帮助与反馈</li>
                                        <li>设置</li>
                                        <li>退出</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="left">
                    <ul>
                        <li class="current"><a href="#">首页</a></li>
                        <li><a href="#">讲师</a></li>
                        <li><a href="#">课程</a></li>
                        <li><a href="#">文章</a></li>
                    </ul>
                </div>

                <div class="right">

                </div>
            </div>
        </div>
    </div>
</body>
</html>

