@import "../../BaseCss/base_css.css";
@import "../../config/color.less";

div#nav-bar {
  height: 140px;
  width: 100%;
  background-color: white;
  .content {
    height: 100%;
    //background-color: darkcyan;

    display: flex;
    flex-direction: column;
    .top {
      width: 100%;
      height: 56px;
      //background-color: pink;
      display: flex;
      &>.left {
        height: 100%;
        //background-color: green;
        flex: 8;
        align-items: center;
        justify-content: center;

        display: flex;
        //logo细节
        .ykt-logo {
          display: block;
          width: 140px;
          height: 26px;

          background-image: url('../../assets/images/ykt-logo.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;

          h1 {
            font-size: 0;
          }
        }

      }
      &>.middle {
        height: 100%;
        //background-color: beige;
        flex: 31;

        display: flex;
        align-items: center;

        //导航栏细节
        .search-bar {
          width: 600px;
          height: 38px;
          margin-left: 5px;
          background-color: transparent;
          border: 1px solid @themeColor;
          border-radius: 6px;
          box-sizing: border-box;

          overflow: hidden;
          display: flex;

          .category {
            height: 100%;
            background-color: green;


            flex: 13;
            select {
              height: 38px;
              width: 100%;
              color: #333333;
              padding-left: 10px;
              border: none;
              outline: none;
              font-size: 14px;
              cursor: pointer;
            }
          }

          .keyword {
            height: 100%;
            //background-color: blue;

            flex: 95;
            input {
              width: 100%;
              height: 100%;
              padding:0 0 0 8px;
              border: none;
              outline: none;
              font-size: 14px;
              color: #AAAAAA;
            }
          }

          .submit-btn {
            height: 100%;
            //background-color: coral;


            flex: 12;
            input {
              width: 100%;
              height: 100%;
              background-color: @themeColor;
              border: none;
              color:white;
              font-size: 13.5px;
              cursor: pointer;
            }
          }
        }
      }
      &>.right {
        height: 100%;
        background-color: blueviolet;

        flex: 21;
      }
    }
    .bottom {
      width: 100%;
      background-color: aquamarine;
      flex: 1;
    }
  }
}

