<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03-首页-章节组件-容器组件</title>
    <link rel="stylesheet" href="index.css">

    <style>
        .card {
            height: 300px;
            background-color: cyan;
        }
    </style>
</head>
<body>
    <div class="section bx">
        <div class="title-bar">
            <h5 class="title">- 学 . 院 . 新 . 闻 -</h5>
            <a href="#" class="more">更多&gt;</a>
        </div>
        <div class="container">
            <div class="news-card column2">
                <ul>
                    <li>
                        <a href="#">撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                </ul>
            </div>
            <div class="news-card column2">
                <ul>
                    <li>
                        <a href="#">撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                    <li>
                        <a href="#">撩课学院-极系列课程</a>
                        <span>2024年08月01日 10:11:00</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>