<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情-公告卡片</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="c-notice">
        <div class="top">
            <h2>公告</h2>
        </div>
        <div class="bottom">
            <div class="inner">
                <div class="up">
                    前端开发者, 如何突破瓶颈, 探索前端边界! 如何快速掌握 PC端 + 小程序 + 移动端 + 后端开发? 来看这里! 2021年08月16日, 正式开启直播! 详情地址: https://mp.weixin.qq.com/s/cyFzUfiiX0rbthHOzx_Q3Q
                </div>
                <div class="down">
                    <span class="date">2024-8-30</span>
                    <span class="detail">详情></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>