<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06-首页-讲师列表组装</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body {
            background-color: rgb(246,246,246);
        }
    </style>
</head>
<body>
    <div class="section bx">
        <div class="title-bar">
            <h5 class="title">- 明 . 星 . 讲 . 师 -</h5>
            <a href="#" class="more">更多&gt;</a>
        </div>
        <div class="container">
            <div class="teacher-card column3">
                <div class="pic">
                    <img src="../../assets/images/teacher4.png" alt="">
                </div>
                <div class="intro">
                    <div class="teacher-name">
                        <span>张三丰</span>
                    </div>
                    <div class="ti">
                        <span>干啥啥都会,很厉害!</span>
                    </div>
                </div>
            </div>
            <div class="teacher-card column3">
                <div class="pic">
                    <img src="../../assets/images/teacher3.png" alt="">
                </div>
                <div class="intro">
                    <div class="teacher-name">
                        <span>张三丰</span>
                    </div>
                    <div class="ti">
                        <span>干啥啥都会,很厉害!</span>
                    </div>
                </div>
            </div>
            <div class="teacher-card column3">
                <div class="pic">
                    <img src="../../assets/images/teacher2.png" alt="">
                </div>
                <div class="intro">
                    <div class="teacher-name">
                        <span>张三丰</span>
                    </div>
                    <div class="ti">
                        <span>干啥啥都会,很厉害!</span>
                    </div>
                </div>
            </div>
            <div class="teacher-card column3">
                <div class="pic">
                    <img src="../../assets/images/teacher2.png" alt="">
                </div>
                <div class="intro">
                    <div class="teacher-name">
                        <span>张三丰</span>
                    </div>
                    <div class="ti">
                        <span>干啥啥都会,很厉害!</span>
                    </div>
                </div>
            </div>
            <div class="teacher-card column3">
                <div class="pic">
                    <img src="../../assets/images/teacher2.png" alt="">
                </div>
                <div class="intro">
                    <div class="teacher-name">
                        <span>张三丰</span>
                    </div>
                    <div class="ti">
                        <span>干啥啥都会,很厉害!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>