<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论面板</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="comment-pane">
        <div class="comment-title">
            <h2>评价</h2>
        </div>
        <div class="form-pane">
            <div class="comment-score">
                <p>给该课程打分：</p>
                <div class="star">
                    <span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-half"></span>
                </div>
            </div>
            <div class="comment-box">
                <label>
                    <textarea class="comment-content" placeholder="请尽可能详尽描述你的学习经历，例如学习成果、课程内容、讲师风格、教学服务等。"></textarea>
                </label>
            </div>
            <div class="submit">评论</div>
        </div>
    </div>

</body>
</html>