<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固定客服组件</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body {
            background-color: #999999;
        }
    </style>
</head>
<body>
    <div class="fixed-contact">
        <div class="contact-kf">
            <img src="../../assets/images/contact_kf.png" alt="">
            <p>联系客服</p>
        </div>
        <div class="phone-kt">
            <img src="../../assets/images/phone_kt.png" alt="">
            <p>手机课堂</p>
        </div>
        <div class="to-top">
            <img src="../../assets/images/to_top.png" alt="">
            <p>返回顶部</p>
        </div>
    </div>
</body>
</html>