<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>05-讲师卡片组件</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
    <div class="teacher-card">
        <div class="pic">
            <img src="../../assets/images/teacher4.png" alt="">
        </div>
        <div class="intro">
            <div class="teacher-name">
                <span>张三丰</span>
            </div>
            <div class="ti">
                <span>干啥啥都会,很厉害!</span>
            </div>
        </div>
    </div>
</body>
</html>