<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>04-首页-课程卡片组件</title>
    <link rel="stylesheet" href="index.css">

    <style>
        body {
            background-color: #eaeaea;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="image">
            <a href="">
                <img src="../../assets/images/kctp.jpg" alt="">
            </a>
        </div>
        <div class="title">
            <a href="#">
                <span>撩课-python-爬虫系列-数据解析</span>
            </a>
        </div>
        <div class="score">
            <div class="ss">
                <div class="star">
                    <span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-on"></span><!--
                    --><span class="m-star z-half"></span>
                </div>
                <span>4.7</span>
            </div>
        </div>
        <div class="zan">
            <span>198</span>
        </div>
    </div>
</body>
</html>

