<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讲师介绍条</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="teacher-intro">
        <div class="content bx">
            <img class="t-header" src="../../assets/images/teacher-header.png" alt="">
            <div class="intro-pane">
                <p class="t-position-name is-star">携程CEO: 张三丰</p>
                <p class="desc">张三丰,厉害</p>
            </div>
        </div>
    </div>
</body>
</html>